[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "static/font-awesome"]
	path = static/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
