.book {
    
    img {
        max-width: 200px;
        max-height: 200px;
    }

    .title {
        font-weight: 500;
        font-size: large;
    }
    
    .description {
        margin-top: 20px;
    }

}
