html {
    scroll-padding-top: 70px;
}

main {
    
    margin-bottom: 4em;
    
    img {
        max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .content {
        padding-top: 50px;
        max-width: 992px;
    }

}

.ma-faq h2 {
    margin-top: 3rem;
    margin-bottom: 0.6rem;
}

code {
    color: $red;
}

table {
    margin-bottom: 2rem;
}

table th, table td {
    border-bottom: 1px solid rgb(222, 226, 230);
    padding: 0.5rem;
}

h1, h2, h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
