.ma-navbar {
  
  box-shadow: 0 .5rem 1rem rgba($black, .15), inset 0 -1px 0 rgba($white, .15);

  .offcanvas-lg {
    background-color: $ma-dark-blue;
    border-left: 0
  }
  
  .navbar-toggler, .nav-link {
    color: rgba(255,255,255,0.85);
  }
  
  .navbar-toggler {
    padding: 0;
    border: 0;
  }

  .nav-link.active {
    font-weight: 600;
    color: #fff
  }
  
  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
    background-image: linear-gradient(rgba($ma-dark-blue, 1), rgba($ma-dark-blue, .95));
  }
  
}
