$ma-accent: #ffe484;


$ma-dark-grey: #1F262F;
$ma-mid-grey: #707A84;
$ma-light-grey: #1F262F;


$ma-dark-blue: #004478;
$ma-dark-red: #cc193a;

$ma-blue: #1f75b7;
$ma-red:  #BD0023;

$blue: $ma-blue;

$link-decoration: none;

$color-mode-type: data;
